{{!-- <h3>{{model.title}}</h3>
<ul>
	{{#each component in model.components}}
	<li>{{component.title}}</li>
	{{/each}}
	<li>{{#link-to 'components.new' class="btn btn-primary-blue"}}<span class="glyphicon glyphicon-plus"></span>{{/link-to}}</li>
</ul> --}}

{{outlet}}
