<ol>
	{{#each objective in model}}
	<li>{{#link-to 'objectives.index.show.edit' objective class="no-decoration"}}{{objective.title}}{{/link-to}}</li>
		<ol>
			{{#each output in objective.outputs}}
				<li>{{#link-to 'outputs.show.edit' output class="no-decoration"}}{{output.title}}{{/link-to}}</li>
			{{/each}}
				{{#link-to 'outputs.new' objective class="btn btn-xs btn-primary-blue"}}
					<span class="glyphicon glyphicon-plus"></span>
				{{/link-to}}
			</li>
		</ol>
	{{/each}}
	{{#link-to 'objectives.index.new' class="btn btn-primary-blue"}}<span class="glyphicon glyphicon-plus"></span>{{/link-to}}</li>
</ol>
{{liquid-outlet}}
