<ul>
	{{#each objective in model}}
	<li>{{objective.title}}</li>
		<ul>
			{{#each output in objective.outputs}}
				<li>{{output.title}}</li>
			{{/each}}
			<li>
				{{#link-to 'outputs.new' objective class="btn btn-xs btn-primary-blue"}}
					<span class="glyphicon glyphicon-plus"></span>
				{{/link-to}}
			</li>
		</ul>
	{{/each}}
	<li>{{#link-to 'objectives.index.new' class="btn btn-primary-blue"}}<span class="glyphicon glyphicon-plus"></span>{{/link-to}}</li>
</ul>
{{liquid-outlet}}
