<div class="container-fluid primary-blue">
	<div class="jumbotron primary-blue">
	  <img src="/assets/img/fao.gif">
	  <p>{{link-to ' View Studies' 'studies' class="btn btn-lg btn-orangeish"}}</p>
	  <h1>Welcome to Solutions to Public Policy Analysis</h1>
	  <p><small>Demo developed for Food and Agriculture Organization by <strong><a class="no-decoration" href="mailto:info@teachmeapp.com">Teachme Solutions</a></strong></small></p>
	</div>
</div>