<!-- Page Heading -->
<h4 style="margin-top:0px">Edit existing Policy or Program</h4>
<div class="panel panel-primary-blue">
  <div class="panel-heading">
    <h4 class="panel-title">{{#link-to 'policy.index' model}}<span class="glyphicon glyphicon-chevron-left"></span>{{/link-to}} Editing P&P General Information</h4>
  </div>
  {{partial "form-policy"}}
</div>


{{outlet}}
