<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Eagle Credits - Login</title>
  <!-- Bootstrap Core CSS -->
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom CSS -->
  <link href="/static/css/sb-admin.css" rel="stylesheet">
  <!-- Custom Fonts -->
  <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body class="primary-blue">
  <div class="container">
    <div class="row login">
      <div class="col-sm-4 col-sm-offset-4 text-center">
        <img src="/static/img/fao.gif" class="img-responsive center-block">
        <h1 style="margin-top:0px;color:white">Solutions for Public <br> Policy Analysis</h1>
        <form role="form" method="post" autocomplete="off">
          <div class="form-group {% if msg_error %}has-error{% endif %}">
            <label for="login" class="sr-only">Login</label>
            <input type="text" class="form-control input-lg" id="login" placeholder="Usuario" name="login">
          </div>
          <div class="form-group {% if msg_error %}has-error{% endif %}">
            <label for="clave" class="sr-only">Clave</label>
            <input type="password" class="form-control input-lg" id="clave" placeholder="Clave" name="clave">
            <p class="help-block">{{msg_error}}</p>
          </div>
          <button type="submit" class="btn btn-default btn-lg btn-block">Login</button>
        </form>
      </div>
    </div>
  </div>

</body>