{% extends "base.html" %}

{% block body %}

<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <h1>Previous Studies</h1>
        <h3><small>Search by:</small></h3>
        <div class="row">
            <div class="col-md-8">
            <form>
                <div class="form-group col-xs-6 col-lg-3">
                    <select class="form-control" name="urlkey_ruta">
                            <option value="">Country</option>
                            <option value="">Kenya</option>
                            <option value="">Ecuador</option>
                            <option value="">Ghana</option>
                            <option value="">Colombia</option>
                            <option value="">United States</option>
                            <option value="">Italy</option>
                            <option value="">Filipines</option>
                    </select>
                </div>
                <div class="form-group col-xs-6 col-lg-3">
                    <select class="form-control" name="urlkey_ruta">
                            <option value="">Policy's Name</option>
                            <option value=""></option>
                    </select>
                </div>
                <div class="form-group col-xs-6 col-lg-3">
                    <select class="form-control" name="urlkey_ruta">
                            <option value="">Study's Name</option>
                            <option value=""></option>
                    </select>
                </div>
                <div class="form-group col-xs-6 col-lg-3">
                    <button class="btn btn-primary" type="submit">Search study</button>
                </div>
            </form>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Results</h3>
                    </div>
                    <div class="panel-body table-responsive">
                        <table class="table table-striped table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th>Study Name</th>
                                <th>Country</th>
                                <th>Creation Date</th>
                                <th>Last Modified</th>
                                <th>Policies</th>
                                <th>Objectives</th>
                            </tr>
                        </thead>
                        <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<script type="text/javascript">
    $('select').change(function() {
        if ($(this).children('option:first-child').is(':selected')) {
            $(this).addClass('placeholder');
        } else {
            $(this).removeClass('placeholder');
        }
    });
    $( "#fecha_string" ).datepicker();
</script>
<!-- /#page-wrapper -->
{% endblock %}